article {
    h2 {
    color: #6b8eff;
    }
    h1 {
    text-align: center;
    color: #6b8eff;
    }
  
     h6 {
    text-align: center;
    font-size: 2em;
    padding: 32px;
    margin-bottom: 0px;
    color: #6b8eff;
     }
}